#message {color:green;}
html.ui-mobile body div.ui-page {
	/**/background:url(../images/paper-background.jpg);
	/*background:url(../images/4806075532_c52d727856_b.jpg);*/
	/*background:url(../images/2558160805_c15dd40154_b.jpg);*/
	background-size:100% 100%;
	background-repeat:no-repeat;
}
#filter .ui-content .ui-grid-solo .ui-checkbox label span span img {
	
	width: 100% !important;
}
#filter .ui-content .ui-grid-solo, #mainpage .ui-content .ui-grid-solo {
	
	max-width: 600px !important;
	width: 100% !important;
	margin: 0 auto;
}
#main_image_selected, #main_image_not_selected {
	display:none;
}
.ui-icon-pf-camera {
	background-image:url('../images/menu_standard.png');
	background-size: 344px;
	background-color:white;
	background-position: -18px -19px;
}

#SaveAndShareSelector div{
	margin:10px 1px;
	border: 1px dotted black;
	background-color:inherit;
}
#SaveAndShareSelector div.selected{
	margin:0px;
	border-left-width:2px;
	border-right-width:2px;
	border-top-width:11px;
	border-bottom-width:11px;
	border-color:yellow;
	background-color:yellow;
	border-style:solid;
}
#SaveAndShareSelector div input{
	display:none;
}

/*
#topmenu {
	width:100%;
}
#topmenu a {
	display:block;
	width:25%;
	float:left;
	background-color:yellow;
}
#topmenu a.current{
	text-decoration:none;
	background-color:gray;
}
#content {
	clear:both;
}
#content #CaptureButtons button {
	width:33%;
	float:left;
}
#content #SelectedPhoto {
	clear:both;
	border: 1px black solid;
}
#content #SelectedPhoto img {
	width:100%;
}
.modify_selector_img {
	position:relative;
	
}
div#content div.modify_selector div.modify_selector_imgs div.modify_selector_img input {
	position:absolute;
	top:0;
	left:0;
}
#content div.sharebutton {
	display:block;
	position:absolute;
	top:0;
	right:0;
	width:10%;
	background-color:red;
	float:right;
}
.modify_selector_imgs {
}
.modify_selector_imgs .modify_selector_img img{
	width:100%;
}
#errormessage {
	clear:both;
}
*/
